<link href="" />
<div class="home-banner-title container-mobile">
  <div class="home-text" translate="HOME.MSG-1"></div>
  <a routerLink="">
    <label class="text-yellow" translate="COMMON.WATCH-ALL"></label>
    <img class="trans-y-10" src="../../../../assets/Images/angle-right-small-yerlow.png" />
  </a>
</div>
<div class="trending-slider ms-3-25 mt-2">
  <div class="osahan-slider-item">
    <div class="list-card bg-white overflow-hidden position-relative shadow-sm">
      <div class="list-card-image">
        <div
          class="favourite-heart position-absolute d-flex align-item-center justify-content-center"
        >
          <a href="#"
            ><img src="../../../../assets/Images/heart.svg" alt=""
          /></a>
        </div>
        <img alt="" src="../../../../assets/Images/item 1.png" />
      </div>
      <div class="p-2 slider-item-info">
        <p class="text-brand mb-0">Buzza Pizza</p>
        <p class="text-name mb-0"><a href="#">Bolognese Pasta</a></p>
        <div class="list-card-price d-flex w-100">
          <div class="card-badge-item">
            <span class="card-badge-item-price">149.000đ</span>
            <span class="card-badge-item-promo">199.000đ</span>
          </div>
          <div class="card-badge-plus" routerLink="info">
            <img src="../../../../assets/Images/btn plus.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osahan-slider-item">
    <div class="list-card bg-white overflow-hidden position-relative shadow-sm">
      <div class="list-card-image">
        <div
          class="favourite-heart position-absolute d-flex align-item-center justify-content-center"
        >
          <a href="#"
            ><img src="../../../../assets/Images/heart.svg" alt=""
          /></a>
        </div>
        <img alt="" src="../../../../assets/Images/item 1.png" />
      </div>
      <div class="p-2 slider-item-info">
        <p class="text-brand mb-0">Buzza Pizza</p>
        <p class="text-name mb-0"><a href="#">Bolognese Pasta</a></p>
        <div class="list-card-price d-flex w-100">
          <div class="card-badge-item">
            <span class="card-badge-item-price">149.000đ</span>
            <span class="card-badge-item-promo">199.000đ</span>
          </div>
          <div class="card-badge-plus" routerLink="info">
            <img src="../../../../assets/Images/btn plus.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osahan-slider-item">
    <div class="list-card bg-white overflow-hidden position-relative shadow-sm">
      <div class="list-card-image">
        <div
          class="favourite-heart position-absolute d-flex align-item-center justify-content-center"
        >
          <a href="#"
            ><img src="../../../../assets/Images/heart.svg" alt=""
          /></a>
        </div>
        <img alt="" src="../../../../assets/Images/item 1.png" />
      </div>
      <div class="p-2 slider-item-info">
        <p class="text-brand mb-0">Buzza Pizza</p>
        <p class="text-name mb-0"><a href="#">Bolognese Pasta</a></p>
        <div class="list-card-price d-flex w-100">
          <div class="card-badge-item">
            <span class="card-badge-item-price">149.000đ</span>
            <span class="card-badge-item-promo">199.000đ</span>
          </div>
          <div class="card-badge-plus" routerLink="info">
            <img src="../../../../assets/Images/btn plus.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
