<div [@fadeInOut] class="container">
  <div class="pt-5 d-flex justify-content-between">
    <h6 class="fz-20 fw-bold" translate="COMMON.PROFILE"></h6>
    <div routerLink="/setting" class="h-100">
      <img src="assets/Images/setting.png" alt="" />
    </div>
  </div>

  <div *ngIf="profileInfo" class="d-flex gap-4 mt-5 pb-4 border-solid-bottom">
    <div routerLink="/profile-edit" class="h-100">
      <img
        style="height: 50px; width: 50px"
        class="circle-border"
        [src]="
          profileInfo.ProfilePicture
            ? profileInfo.ProfilePicture
            : 'assets/Images/user-default.svg'
        "
        alt=""
      />
    </div>

    <div routerLink="/profile-edit" class="d-flex flex-column gap-2">
      <h5 class="fz-24 fw-bold text-default">{{ profileInfo.Username }}</h5>

      <div class="d-flex gap-1 align-items-center">
        <p class="text-yellow fw-bold fz-16">{{ profileInfo.currentPoint }}</p>
        <div class="h-100 trans-y-10">
          <img src="assets/Images/star.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!profileInfo" class="d-flex gap-4 mt-5 pb-4 border-solid-bottom">
    <div routerLink="/profile-edit" class="h-100">
      <img
        style="max-height: 50px"
        src="assets/Images/user-default.svg"
        alt=""
      />
    </div>

    <div routerLink="/profile-edit" class="d-flex flex-column gap-2">
      <h5 class="fz-24 fw-bold text-default">Đăng nhập</h5>

      <div class="d-flex gap-1 align-items-center">
        <p class="text-yellow fw-bold fz-16">0</p>
        <div class="h-100 trans-y-10">
          <img src="assets/Images/star.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column gap-4 mt-3">
    <div class="d-flex gap-3 align-items-center mt-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/rewards.svg" alt="" />
      </div>

      <div routerLink="/rewards" class="flex-1 d-flex justify-content-between">
        <h5 class="fz-20 text-default">Rewards</h5>
        <div class="h-100">
          <img src="assets/Images/angle-right-small.png" alt="" />
        </div>
      </div>
    </div>

    <div class="d-flex gap-3 align-items-center mt-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/booking.svg" alt="" />
      </div>

      <div
        routerLink="/history-payment"
        class="flex-1 d-flex justify-content-between"
      >
        <h5 class="fz-20 text-default" translate="PROFILE.HISTORY-BOOKING"></h5>
        <div class="h-100">
          <img src="assets/Images/angle-right-small.png" alt="" />
        </div>
      </div>
    </div>

    <div class="d-flex gap-3 align-items-center mt-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/heart.svg" alt="" />
      </div>

      <div
        routerLink="/favourite"
        class="flex-1 d-flex justify-content-between"
      >
        <h5 class="fz-20 text-default" translate="COMMON.Favorite-food"></h5>
        <div class="h-100">
          <img src="assets/Images/angle-right-small.png" alt="" />
        </div>
      </div>
    </div>

    <div routerLink="/voucher" class="d-flex gap-3 align-items-center mt-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/voucher.svg" alt="" />
      </div>

      <div class="flex-1 d-flex justify-content-between">
        <h5 class="fz-20 text-default" translate="PROFILE.YOUR-PROMOTIONS"></h5>
        <div class="h-100">
          <img src="assets/Images/angle-right-small.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <app-footer isCheck="profile"></app-footer>
</div>
