<div class="home-banner-title mt-32 container-mobile">
  <div class="home-text" translate="HOME.MSG-2"></div>
  <a routerLink="/">
    <label class="text-yellow" translate="COMMON.WATCH-ALL"></label>
    <img
      class="trans-y-10 "
      src="../../../../assets/Images/angle-right-small-yerlow.png"
    />
  </a>
</div>
<div class="trending-slider mt-2 ms-3-25">
  <div [routerLink]="'/introduce-food/' + ( item ? item.Id : '')"  *ngFor="let item of listNews" class="osahan-slider-item">
    <div
      class="list-card bg-white overflow-hidden position-relative shadow-sm"
      style="width: 310px;"
    >
      <div class="list-card-image">
        <img alt="" class="w-100 border-r-10" [src]="item ? item.ImageUrl : ''" style="height: 200px" />
      </div>
      <div class="p-2 slider-item-info" style="min-height: 90px;">
        <div class="list-card-body">
          <div class="body-logo">
            <img src="../../../../assets/Images/Buzza small.png" alt="" />
          </div>
          <div class="text-brand mb-0 fw-500">Buzza Pizza</div>
          <div class="text-date fw-400 limit-line-2">{{lastUpdate ? lastUpdate : ''}}</div>
        </div>
        <div class="list-card-badge fw-500">
          {{item ? item.Title : item.Title}}
        </div>
      </div>
    </div>
  </div>
</div>
