<div [@fadeInOut] class="pb-5">
  <app-header-back title="Đăng kí nhận mã" [showShare]="true"></app-header-back>
  <div class="h-100">
    <img
      class="w-100 index-middle"
      src="assets/Images/outstanding-exp-2.png"
      alt=""
    />
  </div>

  <div
    class="box-shadow d-flex flex-column gap-3 px-3 py-5 border-r-20 trans-y-10 index-top bg-white"
    style="margin-left: 24px; margin-right: 24px"
  >
    <h6 class="fz-20 text-default text-center mb-3">
      Nhận mã ngay! Nhanh tay kẻo hết!!
    </h6>

    <input
      type="text"
      class="text-grey fz-16 p-2 border-grey-light border-r-5 border-focus-grey"
      placeholder="Nhập họ tên"
    />
    <input
      type="number"
      class="text-grey fz-16 p-2 border-grey-light border-r-5 border-focus-grey"
      placeholder="Số điện thoại"
    />
    <input
      type="email"
      class="text-grey fz-16 p-2 border-grey-light border-r-5 border-focus-grey"
      placeholder="Địa chỉ email"
    />
    <button class="button button-yellow w-100 py-2 fz-20 fw-bold">
      Đăng kí ngay
    </button>
    <h6 class="text-center text-yellow-bold fz-16">
      Đăng ký chỉ mất 3s nhận ngay qua e-mail
    </h6>

    <h6 class="text-center fz-12 text-default-light">
      Đã có <strong>2039</strong> người đăng kí
    </h6>

    <div class="d-flex gap-2 justify-content-center">
      <div
        class="d-flex flex-column gap-1 bg-black text-white align-items-center px-2 py-1 border-r-10"
      >
        <h6 class="fw-700 fz-16">05</h6>
        <h5 class="fz-12 fw-500">Ngày</h5>
      </div>

      <div
        class="d-flex flex-column gap-1 bg-black text-white align-items-center px-2 py-1 border-r-10"
      >
        <h6 class="fw-700 fz-16">30</h6>
        <h5 class="fz-12 fw-500">Giờ</h5>
      </div>

      <div
        class="d-flex flex-column gap-1 bg-black text-white align-items-center px-2 py-1 border-r-10"
      >
        <h6 class="fw-700 fz-16">03</h6>
        <h5 class="fz-12 fw-500">Phút</h5>
      </div>

      <div
        class="d-flex flex-column gap-1 bg-black text-white align-items-center px-2 py-1 border-r-10"
      >
        <h6 class="fw-700 fz-16">03</h6>
        <h5 class="fz-12 fw-500">Giây</h5>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column container gap-3">
    <div class="d-flex gap-3 align-items-center">
      <div class="h-100">
        <img src="assets/Images/calendar-color.png" alt="" />
      </div>

      <h6 class="fz-18 fw-500 text-default">
        Thứ 2 & Thứ 3: ĐI 5 TÍNH TIỀN 3 <br />(Buffet chỉ từ 227k/người)
      </h6>
    </div>

    <div class="d-flex gap-3 align-items-center">
      <div class="h-100">
        <img src="assets/Images/calendar-color.png" alt="" />
      </div>

      <h6 class="fz-18 fw-500 text-default">
        Thứ 4 đến Chủ nhật: ĐI 4 TÍNH TIỀN 3 <br />
        (Buffet chỉ từ 284k/người)
      </h6>
    </div>

    <div class="d-flex gap-3 align-items-center">
      <div class="h-100">
        <img src="assets/Images/clock-color.png" alt="" />
      </div>

      <h6 class="fz-18 fw-500 text-default">
        Thời gian áp dụng: 26/09 - 15/11/2022.
      </h6>
    </div>
  </div>

  <div class="d-flex flex-column gap-3 mt-5 container">
    <h6 class="text-default fw-500 fz-16">Điều kiện áp dụng</h6>

    <div
      class="d-flex gap-4 py-3 bg-grey-bold border-r-10"
      style="height: 118px"
    >
      <h4 class="fz-36 fw-500 text-yellow">01</h4>
      <h6 class="fz-16 text-default-light mt-2">
        Ưu đãi đầu tuần áp dụng cho khách từ 5 người lớn trở lên, các ngày còn
        lại áp dụng cho nhóm từ 4 ngưởi lớn trở lên.
      </h6>
    </div>

    <div
      class="d-flex gap-4 py-3 bg-grey-bold border-r-10"
      style="height: 118px"
    >
      <h4 class="fz-36 fw-500 text-yellow">02</h4>
      <h6 class="fz-16 text-default-light mt-2">
        Áp dụng tất cả các khung giờ khi khách hàng sử dụng gói Buffet VIP &
        Buffet Tráng Miệng cùng món ăn kèm.
      </h6>
    </div>

    <div
      class="d-flex gap-4 py-3 bg-grey-bold border-r-10"
      style="height: 118px"
    >
      <h4 class="fz-36 fw-500 text-yellow">03</h4>
      <h6 class="fz-16 text-default-light mt-2">
        Mã code được áp dụng sau 2 tiếng kể từ thời gian lấy mã code.
      </h6>
    </div>

    <div
      class="d-flex gap-4 py-3 bg-grey-bold border-r-10"
      style="height: 118px"
    >
      <h4 class="fz-36 fw-500 text-yellow">04</h4>
      <h6 class="fz-16 text-default-light mt-2">
        Không áp dụng kèm các chương trình khuyến mãi từ các đối tác khác. Không
        áp dụng tách bill, tách bàn.
      </h6>
    </div>

    <div
      class="d-flex gap-4 py-3 bg-grey-bold border-r-10"
      style="height: 118px"
    >
      <h4 class="fz-36 fw-500 text-yellow">05</h4>
      <h6 class="fz-16 text-default-light mt-2">
        Chương trình được áp dụng lũy tiến theo số khách.
      </h6>
    </div>
  </div>

  <div class="container d-flex flex-column mt-4 gap-2">
    <h6 class="text-default fw-500 fz-16">Liên hệ</h6>

    <div class="d-flex gap-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/location-red.png" alt="" />
      </div>

      <h6 class="fz-16 text-default-light">
        Tầng 4 Nowzone, 235 Nguyễn Văn Cừ, P. Nguyễn Cư Trinh, Q.1, TP. HCM
      </h6>
    </div>

    <div class="d-flex gap-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/phone-red.png" alt="" />
      </div>

      <h6 class="fz-16 text-default-light">1900 98 98 07</h6>
    </div>

    <div class="d-flex gap-3">
      <div class="h-100">
        <img class="trans-y-10" src="assets/Images/clock-green.png" alt="" />
      </div>

      <h6 class="fz-16 text-default-light">
        Mở cửa: 09:00 - 22:00 (Last Order 21:00)
      </h6>
    </div>
  </div>
</div>
