<div class="home-banner-title container-mobile">
  <div class="home-text">Flash sale</div>
  <img
    style="width: 30px; margin-right: 121px"
    src="../../../../assets/Images/flash sale.png"
    alt=""
  />
  <a routerLink="/flash-sale">
    <label class="text-yellow" translate="COMMON.WATCH-ALL"></label>
    <img class="trans-y-10" src="../../../../assets/Images/angle-right-small-yerlow.png" />
  </a>
</div>
<div class="trending-slider ms-3-25 mt-2">
  <div class="osahan-slider-item">
    <div class="list-card bg-white overflow-hidden position-relative shadow-sm">
      <div class="list-card-image">
        <img alt="" src="../../../../assets/Images/sale item.png" />
      </div>
      <div class="p-2 slider-item-info">
        <p class="text-brand mb-0">Buzza Pizza</p>
        <p class="text-name mb-0"><a href="#">Bolognese Pasta</a></p>
        <div class="list-card-badge d-flex justify-content-center">
          <div class="card-badge-item">
            <span class="card-badge-item-price">149.000đ</span>
            <span class="card-badge-item-promo">199.000đ</span>
          </div>
          <div class="card-badge-plus">
            <img src="../../../../assets/Images/btn plus.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osahan-slider-item">
    <div class="list-card bg-white overflow-hidden position-relative shadow-sm">
      <div class="list-card-image">
        <img alt="" src="../../../../assets/Images/sale item.png" />
      </div>
      <div class="p-2 slider-item-info">
        <p class="text-brand mb-0">Buzza Pizza</p>
        <p class="text-name mb-0"><a href="#">Bolognese Pasta</a></p>
        <div class="list-card-badge d-flex justify-content-center">
          <div class="card-badge-item">
            <span class="card-badge-item-price">149.000đ</span>
            <span class="card-badge-item-promo">199.000đ</span>
          </div>
          <div class="card-badge-plus">
            <img src="../../../../assets/Images/btn plus.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osahan-slider-item">
    <div class="list-card bg-white overflow-hidden position-relative shadow-sm">
      <div class="list-card-image">
        <img alt="" src="../../../../assets/Images/sale item.png" />
      </div>
      <div class="p-2 slider-item-info">
        <p class="text-brand mb-0">Buzza Pizza</p>
        <p class="text-name mb-0"><a href="#">Bolognese Pasta</a></p>
        <div class="list-card-badge d-flex justify-content-center">
          <div class="card-badge-item">
            <span class="card-badge-item-price">149.000đ</span>
            <span class="card-badge-item-promo">199.000đ</span>
          </div>
          <div class="card-badge-plus">
            <img src="../../../../assets/Images/btn plus.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
